 /*doc
---
title: Newsletter Signup
category: Component - Newsletter Signup
---

`data-eq-pts="large:x"` is used to specify when this component breaks from single to two columns

```html_example

<div class="newsletter-signup" data-eq-pts="large:500">

  <form class="newsletter-signup-form" action="/submit-page" method="post">
    <header class="newsletter-signup-header">
      <h2 class="newsletter-signup-title">Sign Up For Our Newsletter</h2>
      <input class="newsletter-signup-email-field" placeholder="user@domain.com" type="email">
    </header>
    <div class="newsletter-signup-form-options">
      <p class="newsletter-signup-directions">Select the newsletter you'd like to recieve</p>
      <div class="newsletter-signup-options-group">
        <input type="checkbox" id="swag" value="swag">
        <label for="swag">Swag Deals</label>
      </div>
      <div class="newsletter-signup-options-group">
        <input type="checkbox" id="tips" value="tips">
        <label for="tips">Industry Tips</label>
      </div>
      <button class="newsletter-signup-submit" type="submit">Sign Up</button>
    </div>
  </form>
</div>

```
*/

.newsletter-signup {

}

.newsletter-signup-title {

}

.newsletter-signup-email-field {
  margin-bottom: 1.5em;
}

.newsletter-signup-form-options {
  background: rgba(0,0,0,.1);
  padding: 15px;
}

.newsletter-signup-options-group:last-of-type {
  margin-bottom: 1em;
}



