/*doc
---
title: Quote Component
category: Component - Quote
---

```html_example
<!-- Quote -->
<div class="quote" data-eq-pts="large: 400">
  <blockquote class="quote-container">
      <p class="quote-quotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae est eum officia molestias repellendus. Unde nihil, nemo, asperiores illo placeat animi ex nulla. Perferendis similique voluptatum, labore, asperiores aliquid illo.</p>
      <footer class="quote-reference">
        <span class="quote-attribution">Michael Pettinicchio</span>, systems administrator, Dartmouth College
      </footer>
  </blockquote>
</div>

```

*/


.quote {

}
.quote-container {
  //@extend %default-reset; // reset in case blockquote is used
}
.quote-quotation {
  //@extend %quote;
}
.quote-reference {
  //@extend %quote-footer;
}
.quote-attribution {
  font-weight: bold;
}

