/*doc
---
title: Quote Component
category: Component - Quote
---

```html_example
<!-- Quote -->
<div class="quote" data-eq-pts="small: 0, large: 400">
  <blockquote class="quote-container">
      <p class="quote-quotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae est eum officia molestias repellendus. Unde nihil, nemo, asperiores illo placeat animi ex nulla. Perferendis similique voluptatum, labore, asperiores aliquid illo.</p>
      <footer class="quote-reference">
        <div class="quote-attribution">Michael Pettinicchio,</div>
        <div class="quote-job-title">systems administrator, Dartmouth College</div>
      </footer>
  </blockquote>
</div>

```

*/


.quote {

}
.quote-container {
  margin: 0;
}
.quote-quotation {
 @extend %italic-copy;
}
.quote-reference {

}
.quote-attribution {
   @extend %name-copy;
   display: inline-block;
}

.quote-job-title {
   @extend %small-copy;
   display: inline-block;
}

