 /*doc
---
title: Sidebar Layout
category: Layout - Sidebar
name: sidebar_layout
---

An 8/4 layout using a section tag for the 8 column and aside tag for the 4 column. `data-layout="left"` will place the section on the left. `right` will put it after the aside.

```html_example
<div class="sidebar-layout" data-layout="left">
  <section class="sidebar-layout-section"><div class="component">Section</div></section>
  <aside class="sidebar-layout-aside"><div class="component">Aside</div></aside>
</div>

```
*/

.sidebar-layout {
  @include clearfix;
}


.sidebar-layout-section {
  @include breakpoint(map-get($breakpoints, medium)) {
    [data-layout="left"] > & {
      @include span(8 of 12);
    }
    [data-layout="right"] > & {
      @include span(last 8 of 12);
    }
  }
}
.sidebar-layout-aside {
  @include breakpoint(map-get($breakpoints, medium)) {
    [data-layout="left"] > & {
      @include span(last 4 of 12);
    }
    [data-layout="right"] > & {
      @include span(4 of 12);
    }
  }
}


