 /*doc
---
title: Card Layout Examples
category: Layout - Card
parent: card_layout
---

```html_example

<div class="card" data-theme="dark">
  <h1 class="card-title">Optional Card Title</h1>
  <div class="card-items">
  <!-- Popular Video -->
    <div class="popular-video" data-eq-pts="large:500">
      <a href="#" class="popular-video-link">
        <div class="popular-video-img-container">
          <img class="popular-video-img" src="http://www.placehold.it/400/400">
        </div>
        <div class="popular-video-contents">
          <h1 class="popular-video-title">Video Title</h1>
          <div class="popular-video-length">5m 40s</div>
        </div>
      </a>
    </div>
    <!-- Blog Teaser -->
    <div class="blog-teaser" data-eq-pts="large:400">
      <div class="blog-teaser-img-container">
        <img class="blog-teaser-img" src="http://www.placehold.it/400/400">
      </div>
      <div class="blog-teaser-contents">
        <header>
          <h1 class="blog-teaser-title">This is my teaser title</h1>
          <div class="blog-teaser-author">Micah Godbolt</div>
          <div class="blog-teaser-date">October 31st, 2014</div>
        </header>
        <div class="blog-teaser-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </div>
      </div>
    </div>
    <!-- Quote -->
    <div class="quote" data-eq-pts="large: 400">
      <blockquote class="quote-container">
          <p class="quote-quotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae est eum officia molestias repellendus. Unde nihil, nemo, asperiores illo placeat animi ex nulla. Perferendis similique voluptatum, labore, asperiores aliquid illo.</p>
          <footer class="quote-reference">
            <span class="quote-attribution">Michael Pettinicchio</span>, systems administrator, Dartmouth College
          </footer>
      </blockquote>
    </div>
  </div>
</div>

```
*/
